/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=bash+git+python+r+sql+yaml&plugins=toolbar+copy-to-clipboard */

code[class*=language-], pre[class*=language-] {
    color: #f3feff;
    background: 0 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: .93em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  pre[class*=language-] {
    padding: 1.1em 1em 1em 1em;
    margin-top: 0px;
    overflow: auto
  }
  
  :not(pre)>code[class*=language-], pre[class*=language-] {
    background: #2f3851
  }
  
  :not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
  }
  
  .token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #b0b0b0
  }
  
  .token.punctuation {
    color: #e1d745
  }
  
  .token.attr-name, .token.deleted, .token.namespace, .token.tag {
    color: #e2777a
  }
  
  .token.function-name {
    color: #6196cc
  }
  
  .token.function, .token.number {
    color: #f08d49
  }

  .token.boolean {
    color: #ff45b9
  }
  
  .token.class-name, .token.constant, .token.property, .token.symbol {
    color: #f8c555
  }
  
  .token.atrule, .token.important, .token.keyword, .token.selector {
    color: #eb8bed
  }

  .token.builtin {
    color: #40be27
  }
  
  .token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: #4de726
  }
  
  .token.entity, .token.operator, .token.url {
    color: #67cdcc
  }
  
  .token.bold, .token.important {
    font-weight: 700
  }
  
  .token.italic {
    font-style: italic
  }
  
  .token.entity {
    cursor: help
  }
  
  .token.inserted {
    color: green
  }
  
  div.code-toolbar {
    position: relative
  }
  
  div.code-toolbar>.toolbar {
    position: absolute;
    z-index: 10;
    top: .4em;
    right: .8em;
    transition: opacity .3s ease-in-out;
    opacity: 0
  }
  
  div.code-toolbar:hover>.toolbar {
    opacity: 1
  }
  
  div.code-toolbar:focus-within>.toolbar {
    opacity: 1
  }
  
  div.code-toolbar>.toolbar>.toolbar-item {
    display: inline-block
  }
  
  div.code-toolbar>.toolbar>.toolbar-item>a {
    cursor: pointer
  }
  
  div.code-toolbar>.toolbar>.toolbar-item>button {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
  }
  
  div.code-toolbar>.toolbar>.toolbar-item>a, div.code-toolbar>.toolbar>.toolbar-item>button, div.code-toolbar>.toolbar>.toolbar-item>span {
    color: #bbb;
    font-size: .9em;
    padding: .3em .5em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, .2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-radius: .4em
  }
  
  div.code-toolbar>.toolbar>.toolbar-item>a:focus, div.code-toolbar>.toolbar>.toolbar-item>a:hover, div.code-toolbar>.toolbar>.toolbar-item>button:focus, div.code-toolbar>.toolbar>.toolbar-item>button:hover, div.code-toolbar>.toolbar>.toolbar-item>span:focus, div.code-toolbar>.toolbar>.toolbar-item>span:hover {
    color: inherit;
    text-decoration: none
  }

  pre[class*=language-].line-numbers {
    position: relative;
    padding-left: 3.0em;
    counter-reset: linenumber
  }
  
  pre[class*=language-].line-numbers>code {
    position: relative;
    white-space: inherit
  }
  
  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 98%;
    left: -3.6em;
    width: 3em;
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.6  /* 行間 */
  }
  
  .line-numbers-rows>span {
    display: block;
    counter-increment: linenumber
  }
  
  .line-numbers-rows>span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: .8em;
    text-align: right
  }

  .command-line-prompt {
    border-right: 1px solid #999;
    display: block;
    float: left;
    font-size: 100%;
    letter-spacing: -1px;
    margin-right: 1em;
    padding-top: 0.09em;
    pointer-events: none;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .command-line-prompt>span:before {
    opacity: .7;
    content: ' ';
    display: block;
    padding-right: .8em
  }
  
  .command-line-prompt>span[data-user]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] $"
  }
  
  .command-line-prompt>span[data-user=root]:before {
    content: "[" attr(data-user) "@" attr(data-host) "] #"
  }
  
  .command-line-prompt>span[data-prompt]:before {
    content: attr(data-prompt)
  }
  
  .command-line-prompt>span[data-continuation-prompt]:before {
    content: attr(data-continuation-prompt)
  }
  
  .command-line span.token.output {
    opacity: .7
  }

  .language-bash span.token.number {
    color: #f3feff;
  }